html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(-45deg, #000428, #004e92, #373B44, #4286f4);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}


#enterText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
  text-align: center;
  animation: softRainbowGlow 6s linear infinite;
}

@keyframes softRainbowGlow {
  0%   { color: #ffcccc; text-shadow: 0 0 10px #ffcccc, 0 0 20px #ffcccc; }
  16%  { color: #ffe5cc; text-shadow: 0 0 10px #ffe5cc, 0 0 20px #ffe5cc; }
  33%  { color: #ffffcc; text-shadow: 0 0 10px #ffffcc, 0 0 20px #ffffcc; }
  50%  { color: #ccffcc; text-shadow: 0 0 10px #ccffcc, 0 0 20px #ccffcc; }
  66%  { color: #cce5ff; text-shadow: 0 0 10px #cce5ff, 0 0 20px #cce5ff; }
  83%  { color: #e0ccff; text-shadow: 0 0 10px #e0ccff, 0 0 20px #e0ccff; }
  100% { color: #ffcccc; text-shadow: 0 0 10px #ffcccc, 0 0 20px #ffcccc; }
}



@keyframes rainbowGlow {
  0% { color: red; text-shadow: 0 0 10px red, 0 0 20px red; }
  16% { color: orange; text-shadow: 0 0 10px orange, 0 0 20px orange; }
  33% { color: yellow; text-shadow: 0 0 10px yellow, 0 0 20px yellow; }
  50% { color: green; text-shadow: 0 0 10px green, 0 0 20px green; }
  66% { color: blue; text-shadow: 0 0 10px blue, 0 0 20px blue; }
  83% { color: indigo; text-shadow: 0 0 10px indigo, 0 0 20px indigo; }
  100% { color: violet; text-shadow: 0 0 10px violet, 0 0 20px violet; }
}

#videoSection {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
}

#videoSection video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
